<div class="center">
    <div class="container">
        <div class="center">
            <div class="boxed">
                <br>

                <section class="app__options-menu">
                    <hr><center><b><font size="5">Selection</font></u><hr><br><br>
                   <option-checkbox class="app__option"
                                     data-ng-repeat="listKey in $ctrl.activityListKeys"
                                     data-list-key="{{ listKey }}"
                                     data-on-selected-changed="$ctrl.selectedChanged(key, value)">
                </option-checkbox>
                </section>

                <div class="left">
                    <blockquote>
                        <section class="app__options-menu">
                    <hr><center><b><font size="5">Blessings</font><hr></b><br>
                    <option-checkbox class="app__option"
                                     data-ng-repeat="listKey in $ctrl.blessingListKeys"
                                     data-list-key="{{ listKey }}"
                                     data-on-selected-changed="$ctrl.selectedChanged(key, value)">
                        </option-checkbox>
                        </blockquote>
                        </section>

                    <blockquote>
                        <section class="app__options-menu">
                            <hr><center><b><font size="5">Companions</font><hr></b><br>
                                <option-checkbox class="app__option" 
                                data-ng-repeat="listKey in $ctrl.companionListKeys" 
                                data-list-key="{{ listKey }}" 
                                data-on-selected-changed="$ctrl.selectedChanged(key, value)">
                    </option-checkbox>
                    <br><br><br>
                    </blockquote>
                    </section>
                    </div>


    <div class="right">
        <blockquote>
        <section class="app__options-menu">
            <hr><center><b><font size="5">Equipment</font><hr></b><br>
                <option-checkbox class="app__option" 
                data-ng-repeat="listKey in $ctrl.tackListKeys" 
                data-list-key="{{ listKey }}" 
                data-on-selected-changed="$ctrl.selectedChanged(key, value)">
        </option-checkbox>
        <br><br><br><br><br>
        </blockquote>
        </section>

    <blockquote>
        <section class="app__options-menu">
    <hr>
    <center><b><font size="5">Ranks</font><hr></b><br>

        <option-checkbox class="app__option" 
        data-ng-repeat="listKey in $ctrl.rankListKeys" 
        data-list-key="{{ listKey }}" 
        data-on-selected-changed="$ctrl.selectedChanged(key, value)">
        </option-checkbox>
        </blockquote>
</section>
</div>
                <br><hr>

                <div class="center">
                    <button data-ng-click="$ctrl.generateOutput()">Roll Selection</button><br><hr><br>
                    <result-display class="app__generation-result-container"
                                    data-ng-if="$ctrl.result"
                                    data-header="{{ $ctrl.result.header }}"
                                    data-values="$ctrl.result.values"></result-display>
<br>
Upon completing their quest name has received the following:
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<center><p style="color:#FFFFFF" ;><b>Roller designed by <a href="https://www.deviantart.com/sephasaur" style="color: #FFFFFF">@Sephasaur</a> for <a href="https://www.deviantart.com/syndicarium"style="color: #FFFFFF">Syndicarium</a></b></p></center>
