<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <title>Nephilim Activities Roller</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href=""
    />
    <% // The html-webpack-plugin automatically places any CSS bundle here. %>
</head>

<body data-ng-app="app">
    <app></app>
    <% %>
</body>

</html>